h1 {
  color: #90EE90;
}

body {
  color: #90EE90
}

body {
  background-color: #2c493f;
}

h1 {
  font-family: Copperplate, Helvetica, Arial;
}

body {
  font-family: Copperplate, Helvetica, Arial;
}
