<style>

h1 {
  color: #000000;
}

body {
  color: #000000;
}


a:link {
  color: #000000;
}

a:link {
  color: black; 
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

h1 {
  font-family: 'Lora', Helvetica, Arial;
}

body {
  font-family: 'Lora', Helvetica, Arial;
}

body {
  cursor: pointer;
  background: #000000 url(https://mapleleaf1130.github.io/2A7C4306-86F2-4EC4-B561-AB54D327138F.jpeg) center center/cover no-repeat fixed;
}

</style>
